* {
    font-family: monospace
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    color: aliceblue;
    padding: 30px;
    background-color: rgb(44, 44, 44);
    width: 20%;
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}

form input {
    margin: 0 0 20px 20px;
    width: 100px;
    text-align: center;
}

.PesoAltura input {
    width: 200px;
}

div {
    display: block;
}

.PesoAltura {
    margin-bottom: 10px;
}

.PesoAltura label {
    display: block;
    margin-bottom: 5px;
}

.buttons>input:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

#imc {
    background-color: rgb(255, 255, 255);
}

body > p{
    position: absolute;
    bottom: 0;
}